body,
html {
    font-family: cursive;
    margin: 0;
}

h1,
h2 {
    color: #377ba8;
    font-family: cursive;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-size: 1.2em;
    transition: color 0.4s;
    position: relative;
}

a:hover {
    color: rgb(57, 188, 231);
}

nav ul li a::after,
.login-h1::after,
.sign-up-login> ::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(57, 188, 231);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

nav ul li a:hover::after,
.login-h1:hover::after,
.sign-up-login>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login-h1::after {
    background-color: black;
    width: 50%;
    margin-left: 88px;
}

h2 {
    font-size: 1.2em;
}

div.spaces {
    padding: 40px;
}

.fieldset {
    width: 70%!important;
}

.page {
    margin: 2em auto;
    width: 35em;
    padding: 0.8em;
    background: white;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entries li {
    margin: 0.8em 1.2em;
}

.entries li h2 {
    margin-left: -1em;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
    font-style: oblique;
}

.button {
    width: 20em;
    height: 7em;
}

.button:hover {
    box-shadow: 3px 2px 2px 2px lightgray;
    color: white;
    box-decoration-break: none;
}

nav {
    width: 100%;
    z-index: 100;
    background-color: white!important;
    position: fixed;
    top: 0%;
    margin-top: -20px;
}

nav ul {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.2)25%, rgba(255, 255, 255, 0.2)75%, rgba(255, 255, 255, 0)100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    margin-left: 40px;
    color: #929191;
    font-size: 1.4em;
    font-family: cursive;
    text-decoration: none;
}

nav ul li a:hover,
.hover:hover {
    color: black!important;
    border-radius: 10px;
}

.nav-bar-menu {
    margin-left: 290px;
}

footer {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.2)25%, rgba(255, 255, 255, 0.2)75%, rgba(255, 255, 255, 0)100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

h2 a {
    color: black;
}

h2 a:hover {
    color: red;
}

p a {
    color: black;
}

.copyright {
    letter-spacing: 0.1em;
    font-family: cursive;
    text-align: right;
    padding-right: 100pt;
}

.button {
    border-radius: 10px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 4px;
    width: 20px;
    height: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#icons {
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

.modal-content {
    color: #fefefe!important;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close button-modal (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#company-name {
    font-family: cursive;
    color: black;
    letter-spacing: 7px;
    list-style: none;
    font-size: 1.4em;
}

#company-name:hover {
    color: black;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.right {
    text-align: right!important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white!important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #111!important;
    color: white!important;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    left: 0px;
}

.logo {
    color: black;
}

.form {
    text-align: center;
    width: 100%;
    height: 30%;
    font-family: cursive;
}

.fieldset {
    box-shadow: 2px 1px 1px 1px lightgray;
    border-radius: 10px;
}

.fieldset:hover {
    box-shadow: 3px 2px 2px 2px lightgray;
}

.submit_button {
    border: solid 2px rgb(198, 187, 224);
    width: 100px;
    padding: 7px;
    background-color: transparent;
    border-radius: 10px;
    color: rgb(26, 24, 24);
    font-size: 1.1em;
    cursor: pointer;
    transition: box-shadow 0.4s;
}

.submit_button:hover {
    box-shadow: 1px 1px 1px 1px lightgray;
}

.signup {
    text-align: center;
}

.top {
    background-color: lightgray;
    border: none;
    padding: 5px;
    width: 80px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Shadows Into Light", cursive;
    margin-left: 50%;
}

.top:hover {
    box-shadow: 2px 2px 2px 2px gray;
}

footer {
    font-family: cursive;
}

.g-signin2 {
    margin-left: 28%;
    border-radius: 17px;
}


/*reset password page styling */

.change-password-body {
    background-color: rgb(94, 94, 202)!important;
    margin: 0;
    margin-top: 0;
    border-radius: 20px;
}

.change-password-form {
    padding: 60px;
    padding-top: 10px;
}

.change-password-div {
    border: none;
    text-align: center;
}

.reset-password {
    text-align: center;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
    text-decoration: underline;
}

.password-body {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border: solid #ffffff 2px;
    border-radius: 20px;
}

.change-password-header-div {
    background-color: rgb(94, 94, 202)!important;
}

.submit-button {
    border: solid 1px rgb(114, 114, 219);
    width: 105pt;
    height: 25pt;
    border-radius: 20px;
    font-size: 0.9em;
    background-color: rgb(255, 255, 255);
    transition: width 1s, box-shadow 0.1s;
    outline: none;
    cursor: pointer;
}

.submit-button:hover {
    box-shadow: 0.3px 0.4px 0.4px 0.4px rgb(114, 114, 219);
    width: 120pt;
}

.submit-button:active {
    box-shadow: 2px 2px 2px 2px rgb(114, 114, 219);
}

.center-align {
    text-align: center;
    margin-top: 20%;
}

form h1.forgot {
    padding-bottom: 20px;
}

.change-password-email {
    width: 90%;
    padding: 3%;
    font-size: 1.3em;
    text-align: center;
}


/*change password foooter */

.change-password-footer {
    background-color: rgb(114, 114, 219);
}


/*desihning loader */

.loader-container {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loading {
    background-color: white;
}

.item {
    width: 100px;
    height: 100px;
    position: absolute;
}

.item-1 {
    background-color: #FA5667;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-2 {
    background-color: #7A45E5;
    top: 0;
    right: 0;
    -webkit-animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-3 {
    background-color: #1B91F7;
    bottom: 0;
    right: 0;
    z-index: 1;
    -webkit-animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-4 {
    background-color: #FAC24C;
    bottom: 0;
    left: 0;
    -webkit-animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

@-webkit-keyframes item-1_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
    50% {
        -webkit-transform: translate(100px, 100px);
        transform: translate(100px, 100px)
    }
    75% {
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0)
    }
}

@keyframes item-1_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
    50% {
        -webkit-transform: translate(100px, 100px);
        transform: translate(100px, 100px)
    }
    75% {
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0)
    }
}

@-webkit-keyframes item-2_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(-100px, 0);
        transform: translate(-100px, 0)
    }
    50% {
        -webkit-transform: translate(-100px, 100px);
        transform: translate(-100px, 100px)
    }
    75% {
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
}

@keyframes item-2_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(-100px, 0);
        transform: translate(-100px, 0)
    }
    50% {
        -webkit-transform: translate(-100px, 100px);
        transform: translate(-100px, 100px)
    }
    75% {
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
}

@-webkit-keyframes item-3_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }
    50% {
        -webkit-transform: translate(-100px, -100px);
        transform: translate(-100px, -100px)
    }
    75% {
        -webkit-transform: translate(-100px, 0);
        transform: translate(-100px, 0)
    }
}

@keyframes item-3_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }
    50% {
        -webkit-transform: translate(-100px, -100px);
        transform: translate(-100px, -100px)
    }
    75% {
        -webkit-transform: translate(-100px, 0);
        transform: translate(-100px, 0)
    }
}

@-webkit-keyframes item-4_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0)
    }
    50% {
        -webkit-transform: translate(100px, -100px);
        transform: translate(100px, -100px)
    }
    75% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }
}

@keyframes item-4_move {
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0)
    }
    50% {
        -webkit-transform: translate(100px, -100px);
        transform: translate(100px, -100px)
    }
    75% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }
}

.email {
    text-align: left;
    border-width: 1px;
    border-radius: 10px;
}


/*login page styling */

.login-html {
    background-color: rgb(240, 240, 240);
}

.login-h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(102, 98, 98);
    position: relative;
}

div.grey-h1 {
    background-color: rgb(240, 240, 240);
    width: 100%;
    z-index: 1;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -29.5px;
    margin-top: -30px;
}

.login-body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.login-fieldset {
    border: 1px white;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    margin-left: 33%;
    margin-top: 7%;
    width: 25%;
    box-shadow: 2px 2px 2px 2px rgb(212, 211, 211);
}

.login-input {
    width: 90%;
    margin-left: -30px;
    padding: 7px;
    box-shadow: 1px 1px 1px 1px rgb(240, 240, 240);
}

::placeholder {
    color: rgb(182, 182, 182);
    font-size: 1.05em;
    letter-spacing: 1px;
    font-style: oblique;
}

div.grey-dv {
    background-color: rgb(240, 240, 240);
    padding: 30px;
    padding-bottom: 43px;
    width: 99.8%;
    margin-left: -29.5px;
    margin-bottom: -33px;
    z-index: 1;
    text-align: center;
}

.login-a {
    font-style: oblique;
    color: rgb(202, 199, 199);
    font-size: 0.7em;
    margin-left: 60px;
    outline: none;
    position: relative;
    text-decoration: none;
}

.login-a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(57, 188, 231);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.login-a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login-a:hover {
    text-decoration: none;
}

.login-form {
    padding-top: 10px;
}

.login-button {
    border: solid 2px rgb(198, 187, 224);
    border-radius: 10px;
    width: 25%;
    padding: 5px;
    cursor: pointer;
    font-size: 0.8em;
    transition: box-shadow 0.2s;
    float: left;
}

.login-button:active {
    box-shadow: 1px 1px 1px 1px rgb(200, 189, 226);
}

.sign-up-login-button {
    font-size: 0.8em;
    color: rgb(185, 184, 184);
}

.sign-up-login-button:hover {
    text-decoration: none;
}

.login-label {
    font-style: oblique;
}


/*signup page*/

.signup-body {
    background-color: rgb(245, 245, 245);
}

.signup_fieldset {
    margin-top: 40px;
    width: 30%;
    border: solid 1px rgb(245, 245, 245);
    margin-left: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 2px 2px 4px rgb(235, 235, 235);
}

.sign-up-h2 {
    text-decoration: underline;
    letter-spacing: 2px;
}

h1.logo {
    letter-spacing: 2px;
}

.sign-up-grey-div {
    background-color: rgb(240, 240, 240);
    margin: -6px -10px -10px -10px;
}

.sign-up-grey-div-bottom {
    background-color: rgb(236, 234, 234);
    margin: -10px -11px -14px -10px;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

.sign-up-login>a {
    color: rgb(177, 175, 175);
    font-size: 1em;
    font-style: oblique;
    transition: color 0.49s;
}

.sign-up-login>a:hover {
    color: rgb(57, 188, 231);
}

.sign-up-login {
    margin-left: 80px;
}



