<!DOCTYPE html>
<html lang="en">
    {% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FabChat-change password</title>
</head>
{% endblock %}

{% extends 'layout.html' %}
{% block body %}
<body>

    {% from "_formhelpers.html" import render_field %}
    <fieldset class="fieldset">
        <legend>Change Password</legend>
        <form class="change-password-form" action="" method="post">
            <h1>Forgot Password</h1>
            <p>Enter the email address you used to sign up below.<br />
                We will send you a link to change your email.
            </p>
            <input type="email" placeholder="Your e-mail address" required>
            {{ render_field(form.submit,class="submit_button")}}
        </form>
    </fieldset>
    
</body>
{% endblock %}
</html>