<!DOCTYPE html>
<html lang="en" class="change-password-body">
    {% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FabChat-change password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
{% endblock %}

{% block body %}
<body class="password-body">

    <div class="change-password-header-div">
    <h1 class="reset-password"> Reset Password Form </h1>
    </div>
    {% from "_formhelpers.html" import render_field %}
    <fieldset class="change-password-div">
        <form class="change-password-form" action="{{ url_for('change_password')}}" method="post">
            {{ form.hidden_tag()}}
            {% if error %}
            <p class=error>
                <strong>Error:</strong> {{ error }}{% endif %}
            </p>
           <h1 class="forgot">Forgot Password</h1>
            <p>Enter the email address you used to sign up below.<br />
                We will send you a link to change your password.
            </p>
            {{ render_field(form.email,class="change-password-email", placeholder="Your e-mail address",
                autofocus="on", autocomplete="off")}}
            <br />
            <a href="mailto:muemafabian@gmail.com?Subject=Hello%20There", target="_top">{{ render_field(form.submit,class="submit-button")}}</a>
        </form>
    </fieldset> 
    <script type="text/javascript">
        
    </script>
</body>
{% endblock %}
</html>