<!DOCTYPE html>
<html>

    <head>
        <title>Fabchat</title>

        <link href="\static\style.css" rel="stylesheet">
         
    </head>

         {% if session.logged_in %}

    <nav id="top loading" style="background-color: white;">
        <ul>
    <br />
            <li id="company-name">
                <a href="#">FabChat
                </a>
            </li>
    
            <span style="margin-right:5%!important;" class="nav-bar-menu">
                <li>
                    <a href="{{url_for('show_posts')}}">Feed</a>
                </li>
                <li>
                    <a href="{{url_for('Trending')}}">Trending</a>
                </li>
                <li>
                    <a href="{{url_for('Followers')}}">Followers</a>
                </li>
                <li>
                    <a href="{{url_for('Profile')}}">Profile</a>
                </li>
                <li><a href="{{url_for('logout')}}">
                    Signout
                </a>
                </li>
            </span>
            <br />
            <br />
        </ul>
    </nav>
    {% endif %}


    <body onload="myFunction()" id="body">

        <div class="spaces">

        </div>
        
        <!--
            <div class="loader-container">
                <div id="loader-container">
                    <div class="item item-1 loading"></div>
                    <div class="item item-2 loading"></div>
                    <div class="item item-3 loading"></div>
                    <div class="item item-4 loading"></div>
                </div>
            </div>
        -->

<div class=page>
    <body id="loading">

            {% for message in get_flashed_messages() %}

            <div class=flash>
                {{message}} 
                <br />
            </div>
            {% endfor %} {% block body %}{% endblock %}
        </div>
        
        <script>
            var myVar;

            function myFunction() {
                document.getElementById("loading").style.display = "none";
                myVar = setTimeout(showPage, 3000);
            }

            function showPage() {
                document.getElementById("loader-container").style.display = "none";
                document.getElementById("loading").style.display = "block";
            }
        </script>

    </body>

    {% if session.logged_in %}
    <footer style="background-color: white;" id="loading">
        <!--
        <div id="icons" class="fixed-bar">
            Follow Us:
            <br />
            <a href="https://www.facebook.com/fabian muema" class="fa fa-facebook" target="_blank" title="facebook"></a>
            <a href="https://www.twitter.com/fabianmuema" class="fa fa-twitter" target="_blank" title="twitter"></a>
            <a href="https://www.googleplus.com/fabian muema" class="fa fa-google-plus" target="_blank" title="googleplus"></a>
            <a href="https://www.linkedin.com/fabian muema" class="fa fa-linkedin" target="_blank" title="linkedIn"></a>
            <a href="https://www.youtube.com/fabian muema" class="fa fa-youtube" target="_blank" title="youtube"></a>
            <a href="https://www.instagram.com/fabian_muema_m" class="fa fa-instagram" target="_blank" title="instagram"></a>
            <a href="https://www.pinterest.com/fabian muema" class="fa fa-pinterest" target="_blank" title="pinterest"></a>
            <a href="https://www.skype.com/fabian muema" class="fa fa-skype" target="_blank" title="skype"></a>
            <a href="https://www.reddit.com/fabian muema" class="fa fa-reddit" target="_blank" title="reddit"></a>
            <br />
        </div>
            -->
        <br />

        <p class="copyright">&copy2018 iPhoenix.net. All Rights Reserved</p>
        <!--copyright symbol-->
        <br />
        
    </footer>
    {% endif %}

</html>