<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>
            login
        </title>

        <meta name="author" content="Fabian Muema">
        <meta http-equiv="UTF-8">
        <meta name="keywords" content="fabchat, login, signup">
    </head>

    {% extends "layout.html" %}
{% block body %}
    <body>

        <div id="container">
        
            <form action="{{ url_for('login') }}" method=post>

                <fieldset class="fieldset">

                    <ul>
                        <li id="company-name">
                            <h1 class="LoginH1">
                            FabChat
                            </h1>
                        </li>
                    </ul>

                    <!-- Displays error if the username or password is wrong -->
                    {% if error %}
                        <p class=error>
                            <strong>Error:</strong> {{ error }}{% endif %}
                        </p>

                        {% from "_formhelpers.html" import render_field %}
                    <form class="signup_Form" autocomplete="off" name="login_form">
                    <h2> Log In </h2>
                        {{ form.hidden_tag()}}
                        <br />
                        {{ render_field(form.username, placeholder="Username")}}
                        <br />
                        {{ render_field(form.password, placeholder="password")}}
                        <br />
                        {{ render_field(form.submit,class="submit_button")}}
                        <br />
                        <span class="signup">
                              Or
                            <a class="signup_button" href="{{ url_for('signup') }}"> Sign Up </a>
                        </span>
                        <br />
                        <br />
                    </form>
                    
                </fieldset>
            </form>
        </div>
        {% endblock %}
    </body>

</html>