<!DOCTYPE html>
<html lang="en" class="login-html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="login-body">

    <div class="login-container">

        <fieldset class="login-fieldset">

            <div class="grey-h1">
                <h1 class="login-h1">
                    FabChat
                </h1>
            </div>

            {% if error %}
            <p class="error">{{error}}</p>
            {% endif %}

            {% from "_formhelpers.html" import render_field %}
            <form method="post" action="{{ url_for('login') }}" class="login-form">
                {{ form.hidden_tag()}}
                <label for="email" class="login-label">
                    E-mail:
                </label>
                <br />
                {{render_field(form.email, class="login-input")}}
                <br />
                <label for="password" class="login-label">
                    Password:
                </label>
                <a href="{{url_for('change_password')}}" class="login-a">Forgot your password?</a>
                {{ render_field(form.password, class="login-input")}}
                <br />
                <br />

                <div class="grey-dv">
                    {{render_field(form.submit, class="login-button")}}
                    <a href="{{ url_for('signup') }}" class="login-a sign-up-login-button"> or sign up</a>
                </div>
            </form>
        </fieldset>

    </div>

</body>

</html>