{% if session.logged_in %}
<!DOCTYPE html>
<html lang="en-us">
{% extends "layout.html" %} 
    <body>
        {% block body %}

        <div class="container">

            <fieldset class="fieldset">
                {% from "_formhelpers.html" import render_field %}
                <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
                    {{form.hidden_tag() }}
                    <br />
                    <br />
                    {{ render_field(form.post, placeholder="Post something to get claps.", autocomplete="off",
                    autocapitalize="on", autocorrect="on", class='email change-password-email'
                        )}}
                    <br />
                    <br />
                    {{ render_field(form.submit, class="submit-button")}}
                    <b />
                    <br />
                </form>
            </fieldset>
        
            <br/>

            <fieldset class="fieldset">
                <ul class=entries>
                    {% for post in posts %}
                
                    <li>
                        <fieldset class=entry_fieldset>
                        <legend><a href="#">{{post.name | capitalize}}</a></legend>
                            <span>{{ post.post }}</span>
                            <!--delete the comment 
                            <span class="delete_button">
                            <a href="#">delete</a>
                        </span>
                        -->

                        </fieldset>
                    </li>

                    {% else %}
                    <li>

                    <em>
                        All posts appear here.
                    </em> 

                    {% endfor %}

                </ul>

            </fieldset>
        </div>
        <button class="top" id="top" onclick="topFunction()" title="Go to top">
            Top
        </button>

        <script type="text/javascript" src="{{url_for('static', filename='scrollToTop.js')}}">
        </script>

        {% endblock %}
    </body>

    {% else %}
    <p>
        <a href="{{url_for('login')}}">
            Log in
        </a> to see this page
    </p>

    {% endif %}

</html>
