<!DOCTYPE html>
<html>
    <head>
        <title>
            Signup
        </title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        
    </head>

    <body class="signup-body">
        {% block body%}
        <div>
                 {% if error %}
                <p class=error>{{ error }}</p>
                {% endif %}

                {% from "_formhelpers.html" import render_field %}

                    <fieldset class="signup_fieldset">
                        <form action='' method="post" class="form">
                            {{ form.hidden_tag() }}
                            <div class="sign-up-grey-div">
                        <h1 class="logo">Fabchat</h1>
                        <br />
                        </div>
                        <br />
                        <h2 class="sign-up-h2">Sign up</h2>
                        <br />
                        <dl>
                            {{ render_field(form.first_name, placeholder="first name", class="login-input")}}
                            <br />
                            {{ render_field(form.second_name, placeholder="second name", class="login-input")}}
                            <br />
                            {{ render_field(form.email, placeholder="example@gmail.com", class="login-input") }}
                            <br />
                            {{ render_field(form.mobile_number, placeholder="mobile number", class="login-input") }}
                            <br />
                            {{ render_field(form.password, placeholder="password",class="login-input")}}
                            <br />
                            {{ render_field(form.password2, placeholder="confirm password", class="login-input")}}
                            <br />
                        </dl>
                        <p><input type="submit" value="sign up" class="submit_button"></p>
                        </form>
                    </fieldset>
                
        </div>
        {% endblock %}
    </body>
</html>

