<!DOCTYPE html>
<html>
    <head>
        <title>
            Signup
        </title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body class="signup-body">
        {% block body%}
        <div>
                 {% if error %}
                <p class=error>{{ error }}</p>
                {% endif %}

                {% from "_formhelpers.html" import render_field %}

                    <fieldset class="signup_fieldset">
                        <form action='' method="post" class="form">
                            {{ form.hidden_tag() }}
                            <div class="sign-up-grey-div">
                        <h1 class="logo">Fabchat</h1>
                        <br />
                        </div>
                        <br />
                        <h2 class="sign-up-h2">Sign up</h2>
                        <br />
                        <dl>
                            {{ render_field(form.first_name, placeholder="first name", class="login-input")}}
                            <br />
                            {{ render_field(form.second_name, placeholder="second name", class="login-input")}}
                            <br />
                            {{ render_field(form.email, placeholder="example@gmail.com", class="login-input") }}
                            <br />
                            {{ render_field(form.mobile_number, placeholder="mobile number", class="login-input") }}
                            <br />
                            <div></div>{{ render_field(form.password, placeholder="password",class="login-input", id="password")}}<i class="eye-icon fa fa-eye" onclick="showPassword()"></i>
                            <br />
                            {{ render_field(form.password2, placeholder="confirm password", class="login-input", id="password2")}}
                            <br />
                        </dl>
                        <div class="sign-up-grey-div-bottom">
                        <p><input type="submit" value="sign up" class="submit_button"> <span class="sign-up-login"><a href="
                            {{url_for('login')}}">or Login</a></span></p>
                        </div>
                        </form>
                    </fieldset>
                <div class="spaces">
                    
                </div>
        </div>
        
        <script type="text/javascript" src="{{url_for('static', filename='showPassword.js')}}">
            
        </script>
        <script src="/static/Jquery.js">
        </script>
        <script src="/static/showPasswords.js">
        </script>
        {% endblock %}
    </body>
</html>

